#transition-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  font-family: Arial, sans-serif;
  /* animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom; */
}

button {
  border-radius: 8px;
  border: none;
  background-color: #2563eb;
  color: white;
  font-size: 18px;
  padding: 16px 24px;
  text-align: center;
  width: 100px;
  height: 100px;
  transition: width 2s, height 4s;
}

button:hover{
  height: 300px;
  width: 300px;
}


/* 
#transition-container:hover {
  animation-name: bounce;
  animation-timing-function: ease;
}
@keyframes bounce {
  0% {transform: translate(0);}
  50% {transform: translate(100px);}
  100% {transform: translate(0);}
} */
